mixin Partners-1
	+Section.text-center#partners-1&attributes(attributes)
		.row.justify-content-center
			.col-lg-10.col-xl-8
				h2.fs-3.fs-sm-4 Will Slick work for me?
					br
					|Well, it worked for them.
				p.lead.mt-3 The future of template, combines both modern design trend and cutting edge technology used by many big and medium size companies.

		.row.mt-5
			.col-6.col-sm-4.col-lg-3.mb-4
				.bg-200.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/color/cnn.png` alt="brand logo" width=120)

			.col-6.col-sm-4.col-lg-3.mb-4
				.bg-200.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/color/coca-cola.png` alt="brand logo"  width=180)

			.col-6.col-sm-4.col-lg-3.mb-4
				.bg-200.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/color/google.png` alt="brand logo" width=100)

			.col-6.col-sm-4.col-lg-3.mb-4
				.bg-200.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/color/intel.png` alt="brand logo"  width=110)

			.col-6.col-sm-4.col-lg-3.mb-4
				.bg-200.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/color/kfc.png` alt="brand logo" width=100)

			.col-6.col-sm-4.col-lg-3.mb-4
				.bg-200.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/color/nvidia.png` alt="brand logo" width=140)

			.col-6.col-sm-4.col-lg-3.mb-4
				.bg-200.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/color/pampers.png` alt="brand logo" width=160)

			.col-6.col-sm-4.col-lg-3.mb-4
				.bg-200.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/color/samsung.png` alt="brand logo" width=200)

			.col-6.col-sm-4.col-lg-3.mb-4
				.bg-200.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/color/techcrunch.png` alt="brand logo" width=120).img-fluid

			.col-6.col-sm-4.col-lg-3.mb-4
				.bg-200.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/color/ubuntu.png` alt="brand logo" width=180)

			.col-6.col-sm-4.col-lg-3.mb-4
				.bg-200.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/color/walmart.png` alt="brand logo" width=200)

			.col-6.col-sm-4.col-lg-3.mb-4
				.bg-200.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/color/target.svg` alt="brand logo" width=180)
