mixin Partners-4
	+Section.text-center.py-7.bg-200(style="background-color: #FEFAEF")#partners-4
		.row.justify-content-center
			.col-md-10.px-lg-8
				h6.mb-3 Brands that use Slick
				h2 Folks at these awesome 
					br.d-none.d-lg-block
					| companies are already using Slick

			.col-10.mt-6
				img.d-inline-block.m-3(src=`${CWD}assets/img/logo/black/apple.png` alt="brand logo" width=60)
				img.d-inline-block.m-3(src=`${CWD}assets/img/logo/black/cn.png` alt="brand logo" width=90)
				img.d-inline-block.m-3(src=`${CWD}assets/img/logo/black/disnep.png` alt="brand logo" width=120)
				img.d-inline-block.m-3(src=`${CWD}assets/img/logo/black/ferrari.png` alt="brand logo" width=120)
				img.d-inline-block.m-3(src=`${CWD}assets/img/logo/black/ford.png` alt="brand logo" width=120)
				img.d-inline-block.m-3(src=`${CWD}assets/img/logo/black/google-black.png` alt="brand logo" width=120)
				img.d-inline-block.m-3(src=`${CWD}assets/img/logo/black/hbo.png` alt="brand logo" width=90)
				img.d-inline-block.m-3(src=`${CWD}assets/img/logo/black/inc.png` alt="brand logo" width=110)
				img.d-inline-block.m-3(src=`${CWD}assets/img/logo/black/adidas.png` alt="brand logo" width=100)
				img.d-inline-block.m-3(src=`${CWD}assets/img/logo/black/mtv.png` alt="brand logo" width=70)
				img.d-inline-block.m-3(src=`${CWD}assets/img/logo/black/nike.png` alt="brand logo" width=110)
				img.d-inline-block.m-3(src=`${CWD}assets/img/logo/black/harley.png` alt="brand logo" width=90)
