mixin Partners-3
	+Section.text-center.py-5.bg-100(style="opacity: 0.75;")#partners-3
		img.d-inline-block.m-3(src=`${CWD}assets/img/logo/black/disnep.png` alt="brand logo" width=120)
		img.d-inline-block.m-3(src=`${CWD}assets/img/logo/black/ferrari.png` alt="brand logo" width=140)
		img.d-inline-block.m-3(src=`${CWD}assets/img/logo/black/ford.png` alt="brand logo" width=120)
		img.d-inline-block.m-3(src=`${CWD}assets/img/logo/black/google-black.png` alt="brand logo" width=140)
		img.d-inline-block.m-3(src=`${CWD}assets/img/logo/black/hbo.png` alt="brand logo" width=80)
		img.d-inline-block.m-3(src=`${CWD}assets/img/logo/black/cn.png` alt="brand logo" width=85)
