mixin Partners-2
	+Section.text-center#partners-2
		.row.justify-content-center
			.col-lg-8
				h2 Our Happy Clients
				p.lead Find companies like yours who use Slick to create their websites. 

		.row.mt-6
			.col-6.col-sm-4.col-md-3.col-lg-2.mb-4
				.border.border-300.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/black/apple.png` alt="brand logo" width=60)

			.col-6.col-sm-4.col-md-3.col-lg-2.mb-4
				.border.border-300.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/black/cn.png` alt="brand logo" width=90)

			.col-6.col-sm-4.col-md-3.col-lg-2.mb-4
				.border.border-300.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/black/disnep.png` alt="brand logo" width=120)

			.col-6.col-sm-4.col-md-3.col-lg-2.mb-4
				.border.border-300.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/black/ferrari.png` alt="brand logo" width=120)

			.col-6.col-sm-4.col-md-3.col-lg-2.mb-4
				.border.border-300.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/black/ford.png` alt="brand logo" width=120)

			.col-6.col-sm-4.col-md-3.col-lg-2.mb-4
				.border.border-300.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/black/google-black.png` alt="brand logo" width=120)

			.col-6.col-sm-4.col-md-3.col-lg-2.mb-4
				.border.border-300.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/black/hbo.png` alt="brand logo" width=90)

			.col-6.col-sm-4.col-md-3.col-lg-2.mb-4
				.border.border-300.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/black/inc.png` alt="brand logo" width=110)

			.col-6.col-sm-4.col-md-3.col-lg-2.mb-4
				.border.border-300.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/black/adidas.png` alt="brand logo" width=110)

			.col-6.col-sm-4.col-md-3.col-lg-2.mb-4
				.border.border-300.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/black/mtv.png` alt="brand logo" width=70)

			.col-6.col-sm-4.col-md-3.col-lg-2.mb-4
				.border.border-300.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/black/nike.png` alt="brand logo" width=110)

			.col-6.col-sm-4.col-md-3.col-lg-2.mb-4
				.border.border-300.rounded-3.d-flex.flex-center.p-3(style="height: 150px;")
					img(src=`${CWD}assets/img/logo/black/harley.png` alt="brand logo" width=90)
