mixin Header-1
	+Section.py-0#header-1
		.row.min-vh-100.align-items-center.py-6.py-md-8
			.col-md.p-lg-6.p-xl-8.order-md-1
				img.d-sm-none.d-lg-block(src=`${CWD}assets/img/watch.jpg` alt="")
				img.d-none.d-md-block.d-lg-none.w-100(src=`${CWD}assets/img/apple-watch.jpg` alt="")
			.col-md-8.col-lg-6.col-xl-5
				h1.fs-md-6.fw-light.mt-4.mt-sm-0.mt-md-4 Need to kick off a 
					br.d-none.d-xl-block
					| project fast?
				p.lead.mt-5.text-700 Slick lets you fly to the highest peak 
					br
					| of design with modular block of codes, 
					br
					| drag and drop builder and prebuilt unique sections, #{numbers.pages} prebuilt demo pages and #{numbers.components} component sets along with helpers.

				a(href=generator_link target='_blank').fw-semi-bold.d-block.mt-5 Start your project
					img(src=`${CWD}assets/img/icons/icon-angle-right.svg` height=13 alt='').ms-1
