mixin Header-8
	+Section({image: `${CWD}assets/img/12.jpg`, className: "overlay overlay-0"}, "container").py-0.text-center#header-8
		.row.min-vh-100.flex-center.py-8
			.col-lg-8
				h1.fw-light.fs-md-6.text-white.lh-1 Meet 
					span.fw-semi-bold Slick, 
					| the all new 
					br.d-none.d-md-block
					| design adventure
				
				a( href="#!" data-bigpicture='{"ytSrc":"c8aFcHFu8QM"}')
					img(src=`${CWD}assets/img/icons/icon-play.svg` alt="play" width="80").my-4.my-lg-6

				p.lead.text-400.px-sm-5.px-xl-7 Reimagined to elevate your design experience, Slick features #{numbers.layouts} unique sections, #{numbers.pages} prebuilt demo pages and 
					br.d-none.d-xl-block 
					| #{numbers.components} component sets.
