mixin Header-9
	+Section({image: `${CWD}assets/img/17.jpg`, className: "overlay overlay-1"},).py-5.text-center#header-9
		.row.min-vh-100.align-items-center
			.col
				h1.fw-light.mb-5.fs-md-6.text-white.lh-1 Slick makes sure you
					br.d-none.d-md-block
					span.fw-bold get noticed
					|  in the crowd
				.row.justify-content-center.border-top.border-bottom.border-1000.py-5.my-6
					.col-md-8.col-lg-4
						.row
							.col-4
								.position-relative.h-100.w-100.d-flex.flex-center
									+Background({image: `${CWD}assets/img/18.jpg`, className: "rounded-3"})
									a( href='#!' data-bigpicture='{"ytSrc":"c8aFcHFu8QM"}').py-4.position-relative
										span.fa.fa-play.text-white.fs-1
							.col-8.text-start.align-self-center
								p.font-sans-serif.text-400.pe-lg-3 Based on Bootstrap5, the newest framework of CSS.
					.col-md-8.col-lg-4.mt-4.mt-lg-0
						.row
							.col-4
								.position-relative.h-100.w-100.d-flex.flex-center
									+Background({image: `${CWD}assets/img/19.jpg`, className: "rounded-3"})
									a( href='#!' data-bigpicture='{"ytSrc":"c8aFcHFu8QM"}').py-4.position-relative
										span.fa.fa-play.text-white.fs-1
							.col-8.text-start.align-self-center
								p.font-sans-serif.text-400.pe-lg-3 Bootstrap 5 was used which is the latest and stable.
					.col-md-8.col-lg-4.mt-4.mt-lg-0
						.row
							.col-4
								.position-relative.h-100.w-100.d-flex.flex-center
									+Background({image: `${CWD}assets/img/20.jpg`, className: "rounded-3"})
									a( href='#!' data-bigpicture='{"ytSrc":"c8aFcHFu8QM"}').py-4.position-relative
										span.fa.fa-play.text-white.fs-1
							.col-8.text-start.align-self-center
								p.font-sans-serif.text-400.pe-lg-3 The futuristic design keeps you ahead of every design.
				p.lead.fw-light.text-500.mb-5.px-xl-11.px-lg-9.px-md-5 Explore how you can create stunning pages effortlessly. Try various demos and layouts and see if they fit.

				a(href=`${CWD}showcase-pages.html`).btn.btn-light.rounded-pill See the demos
