mixin Footer-10
	+Section.bg-1100.text-center.py-6#footer-10
		.row
			.col
				a(href=`${CWD}showcase-pages.html`).link-400.d-inline-block.mb-2.mx-3 Pages
				a(href=`${CWD}all-blocks.html`).link-400.d-inline-block.mb-2.mx-3 All Blocks
				a(href=`${CWD}components/accordion.html`).link-400.d-inline-block.mb-2.mx-3 Components
				a(href=`${CWD}sitemap.html`).link-400.d-inline-block.mb-2.mx-3 Sitemap
				a(href=generator_link target='_blank').link-400.d-inline-block.mb-2.mx-3 Generator
				a(href=purchase_link target='_blank').link-400.d-inline-block.mb-2.mx-3 Purchase
				p.text-700.mt-4.mb-0 &copy; 2022 Slick. All rights reserved.
