extends Layout
include ../mixins/common/Logo
include ../mixins/common/Footer
include ../mixins/common/SectionHeader
include ../mixins/Variables
include ../mixins/navbar/Navbar

append headScripts
  script(src=`${CWD}vendors/overlayscrollbars/OverlayScrollbars.min.js`)

append styles
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href=`${CWD}vendors/iconsmind/iconsmind.css` rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap' rel='stylesheet')

prepend styles
  //- link(href=`${CWD}vendors/loaders.css/loaders.min.css` rel="stylesheet")
  link(href=`${CWD}vendors/hamburgers/hamburgers.min.css`, rel='stylesheet')

prepend scripts
  script(src=`${CWD}vendors/fontawesome/all.min.js`)
  script(src=`${CWD}vendors/lodash/lodash.min.js`)
  

  //- Gsap CSS
  script(src=`${CWD}vendors/imagesloaded/imagesloaded.pkgd.min.js`)
  script(src=`${CWD}vendors/gsap/gsap.js`)
  script(src=`${CWD}vendors/gsap/customEase.js`)

block beforeMainContent
  #preloader.preloader(data-preloader)
    .preloader-wrapper.big.active(data-preloader)
      .spinner-layer.spinner-white-only
        .circle-clipper.left
          .circle
        .gap-patch
          .circle
        .circle-clipper.right
          .circle
  if(hideNavbar)
    +Navbar(true)
  
block mainContent
       
block afterMainContent
  = '\n\n'
  //===============================================
  //    Footer
  //===============================================
  if(hideFooter)
    +Footer
   
