mixin Team-4
	+Section.text-center#team-4
		.row.justify-content-center
			.col-lg-6
				h2.mb-3 The crew behind Slick

		.row.justify-content-center.mt-4
			.col-xl-10.col-lg-11
				.row
					.col-6.col-sm-4.col-lg-3.mb-lg-0.mb-2
						img(src=`${CWD}assets/img/portraits/crew/1.jpg` alt="Member" width=120).rounded-circle.mt-5
						h4.mt-3.mb-1 Jason Smith
						p.fs--1 Project Lead

					.col-6.col-sm-4.col-lg-3.mb-lg-0.mb-2
						img(src=`${CWD}assets/img/portraits/crew/2.jpg` alt="Member" width=120).rounded-circle.mt-5
						h4.mt-3.mb-1 Vanessa laird
						p.fs--1 UI Designer

					.col-6.col-sm-4.col-lg-3.mb-lg-0.mb-2
						img(src=`${CWD}assets/img/portraits/crew/3.jpg` alt="Member" width=120).rounded-circle.mt-5
						h4.mt-3.mb-1 Irea Evans
						p.fs--1 UX Designer

					.col-6.col-sm-4.col-lg-3.mb-lg-0.mb-2
						img(src=`${CWD}assets/img/portraits/crew/4.jpg` alt="Member" width=120).rounded-circle.mt-5
						h4.mt-3.mb-1 Mason Campbell
						p.fs--1 Front End

					.col-6.col-sm-4.col-lg-3.mb-lg-0.mb-2
						img(src=`${CWD}assets/img/portraits/crew/6.jpg` alt="Member" width=120).rounded-circle.mt-5
						h4.mt-3.mb-1 Jonas Hector
						p.fs--1 Back End

					.col-6.col-sm-4.col-lg-3.mb-lg-0.mb-2
						img(src=`${CWD}assets/img/portraits/crew/5.jpg` alt="Member" width=120).rounded-circle.mt-5
						h4.mt-3.mb-1 Sara Smith
						p.fs--1 Creative Writer

					.col-6.col-sm-4.col-lg-3.mb-lg-0.mb-2
						img(src=`${CWD}assets/img/portraits/crew/8.jpg` alt="Member" width=120).rounded-circle.mt-5
						h4.mt-3.mb-1 Michelle
						p.fs--1 Support Manager

					.col-6.col-sm-4.col-lg-3.mb-lg-0.mb-2
						img(src=`${CWD}assets/img/portraits/crew/7.jpg` alt="Member" width=120).rounded-circle.mt-5
						h4.mt-3.mb-1 Roberto
						p.fs--1 Support Manager
