mixin Team-2
	+Section.bg-1100#team-2
		.row
			.col-lg-8
				h2.text-white.mb-3 Slick Crew
				p.lead.text-400 We're a team of 8 people based in Tallin, Estonia. Half of us work on the product (designing and coding), and the other half work with the customers.

		.row
			.col-lg-9
				.row
					.col-6.col-sm-4.mt-6
						img(src=`${CWD}assets/img/portraits/crew/9.jpg` alt="Member" width=120).rounded-circle
						h5.text-300.text-capitalize.mt-3.mb-1 Emma Stone
						h6.text-600 UI Designer

						.text-start.mt-3
							a(href="#").text-500.d-inline-block.py-2.me-3
								span.fab.fa-twitter
							a(href="#").text-500.d-inline-block.py-2.me-3
								span.fab.fa-dribbble
							a(href="#").text-500.d-inline-block.py-2
								span.fab.fa-instagram

					.col-6.col-sm-4.mt-6
						img(src=`${CWD}assets/img/portraits/crew/10.jpg` alt="Member" width=120).rounded-circle
						h5.text-300.text-capitalize.mt-3.mb-1 Brad Pitt
						h6.text-600 UX Designer

						.text-start.mt-3
							a(href="#").text-500.d-inline-block.py-2.me-3
								span.fab.fa-twitter
							a(href="#").text-500.d-inline-block.py-2
								span.fab.fa-dribbble

					.col-6.col-sm-4.mt-6
						img(src=`${CWD}assets/img/portraits/crew/11.jpg` alt="Member" width=120).rounded-circle
						h5.text-300.text-capitalize.mt-3.mb-1 Mila Kunis
						h6.text-600 Happiness Manager

						.text-start.mt-3
							a(href="#").text-500.d-inline-block.py-2.me-3
								span.fab.fa-skype
							a(href="#").text-500.d-inline-block.py-2.me-3
								span.fab.fa-medium
							a(href="#").text-500.d-inline-block.py-2
								span.fab.fa-git

					.col-6.col-sm-4.mt-6
						img(src=`${CWD}assets/img/portraits/crew/12.jpg` alt="Member" width=120).rounded-circle
						h5.text-300.text-capitalize.mt-3.mb-1 Saoirse Ronan
						h6.text-600 Technical Writer

						.text-start.mt-3
							a(href="#").text-500.d-inline-block.py-2.me-3
								span.fab.fa-twitter
							a(href="#").text-500.d-inline-block.py-2
								span.fab.fa-instagram

					.col-6.col-sm-4.mt-6
						img(src=`${CWD}assets/img/portraits/crew/13.jpg` alt="Member" width=120).rounded-circle
						h5.text-300.text-capitalize.mt-3.mb-1 Anna Kendrick
						h6.text-600 Front-end coder

						.text-start.mt-3
							a(href="#").text-500.d-inline-block.py-2
								span.fab.fa-twitter
