mixin Team-5
	+Section.bg-100#team-5
		.row.justify-content-center.text-center.mb-3
			.col-lg-8
				h2.mb-3 Meet the Team
				p.lead We’re a passionate, dedicated group of experienced designers, developers and programmers motivated to continually reach the futuristic goals.

		.row.justify-content-center

			.col-sm-6.mt-4.text-sm-end
				.row.align-items-center
					.col-auto.order-sm-2
						img(src=`${CWD}assets/img/portraits/square/11.jpg` alt="Member" width=120).rounded-3
					.col.px-0
						h5.fs-0.mt-0.mb-1 Sara Creighton
						p.fs--1.text-500.mb-0 Chairman

			.col-sm-6.mt-4
				.row.align-items-center
					.col-auto
						img(src=`${CWD}assets/img/portraits/square/10.jpg` alt="Member" width=120).rounded-3
					.col.px-0
						h5.fs-0.mt-0.mb-1 Xavier Oswald
						p.fs--1.text-500.mb-0 Managing Director

			.col-sm-6.mt-4.text-sm-end
				.row.align-items-center
					.col-auto.order-sm-2
						img(src=`${CWD}assets/img/portraits/square/12.jpg` alt="Member" width=120).rounded-3
					.col.px-0
						h5.fs-0.mt-0.mb-1 Justin Page
						p.fs--1.text-500.mb-0 UX Designer
			
			.col-sm-6.mt-4
				.row.align-items-center
					.col-auto
						img(src=`${CWD}assets/img/portraits/square/13.jpg` alt="Member" width=120).rounded-3
					.col.px-0
						h5.fs-0.mt-0.mb-1 Allison Gardner
						p.fs--1.text-500.mb-0 UI Designer
			
			.col-sm-6.mt-4.text-sm-end
				.row.align-items-center
					.col-auto.order-sm-2
						img(src=`${CWD}assets/img/portraits/square/14.jpg` alt="Member" width=120).rounded-3
					.col.px-0
						h5.fs-0.mt-0.mb-1 Avery Keat
						p.fs--1.text-500.mb-0 Creative Writer

			.col-sm-6.mt-4
				.row.align-items-center
					.col-auto
						img(src=`${CWD}assets/img/portraits/square/15.jpg` alt="Member" width=120).rounded-3
					.col.px-0
						h5.fs-0.mt-0.mb-1 Nicolas Fisher
						p.fs--1.text-500.mb-0 Product Manager
