mixin Team-1
	+Section.text-center#team-1
		.row.justify-content-center
			.col-lg-8
				h2.mb-3 Dedicated &amp; Passionate Team
				p.lead Meet the Slick's crew - a dedicated and passionate team who wants to improve your experience of creating websites.
				a(href="#").btn.btn-danger.rounded-pill.btn-sm.my-4 Hire our team

		.row.justify-content-center.mt-4
			.col-lg-11
				.row
					.col-sm-6.col-lg-4.mb-lg-0.mb-4
						.border.border-2.rounded-3.border-200.py-4
							img(src=`${CWD}assets/img/portraits/square/04.jpg` alt="Member" width=120).rounded-circle
							h4.text-900.mt-3.mb-2 Vanessa laird
							h6.text-500.mb-4 CEO
							a(href="#!").btn-icon-pop.fs--1.fw-semi-bold.text-twitter
								span.fab.fa-twitter.me-2(data-fa-transform='grow-10')
								| @vanessalaird

					.col-sm-6.col-lg-4.mb-lg-0.mb-4
						.border.border-2.rounded-3.border-200.py-4
							img(src=`${CWD}assets/img/portraits/square/01.jpg` alt="Member" width=120).rounded-circle
							h4.text-900.mt-3.mb-2 Irea Evans
							h6.text-500.mb-4 Director
							a(href="#!").btn-icon-pop.fs--1.fw-semi-bold.text-google-plus
								span.fab.fa-google-plus-g.me-2(data-fa-transform='grow-10')
								| ireaevans

					.col-sm-6.col-lg-4.mb-4
						.border.border-2.rounded-3.border-200.py-4
							img(src=`${CWD}assets/img/portraits/square/02.jpg` alt="Member" width=120).rounded-circle
							h4.text-900.mt-3.mb-2 Mason Campbell
							h6.text-500.mb-4 Manager
							a(href="#!").btn-icon-pop.fs--1.fw-semi-bold.text-facebook
								span.fab.fa-facebook.me-2(data-fa-transform='grow-10')
								| masoncampbell

					.col-sm-6.col-lg-4.mb-lg-0.mb-4
						.border.border-2.rounded-3.border-200.py-4
							img(src=`${CWD}assets/img/portraits/square/06.jpg` alt="Member" width=120).rounded-circle
							h4.text-900.mt-3.mb-2 Natasha Malkova 
							h6.text-500.mb-4 Front End Coder
							a(href="#!").btn-icon-pop.fs--1.fw-semi-bold.text-github
								span.fab.fa-github.me-2(data-fa-transform='grow-10')
								| natashamalkova 

					.col-sm-6.col-lg-4.mb-lg-0.mb-4
						.border.border-2.rounded-3.border-200.py-4
							img(src=`${CWD}assets/img/portraits/square/03.jpg` alt="Member" width=120).rounded-circle
							h4.text-900.mt-3.mb-2 Eva Mendes
							h6.text-500.mb-4 Back End Genie
							a(href="#!").btn-icon-pop.fs--1.fw-semi-bold.text-warning
								span.fab.fa-stack-overflow.me-2(data-fa-transform='grow-10')
								| evamendes

					.col-sm-6.col-lg-4.mb-lg-0.mb-4
						.border.border-2.rounded-3.border-200.py-4
							img(src=`${CWD}assets/img/portraits/square/05.jpg` alt="Member" width=120).rounded-circle
							h4.text-900.mt-3.mb-2 Olivia Taylor
							h6.text-500.mb-4 Happiness Engineer
							a(href="#!").btn-icon-pop.fs--1.fw-semi-bold.text900
								span.fab.fa-instagram.me-2(data-fa-transform='grow-10')
								| oliviataylor
