mixin Masonary(filter)
  if filter
    .btn-group.w-100.nav.font-sans-serif.mb-3.justify-content-center(data-filter-nav)&attributes(attributes)
      a.btn.btn-outline-primary.btn-sm.rounded-start-pill.active(href='#!' aria-current='page' data-filter='*') all
      a.btn.btn-outline-primary.btn-sm(href='#!' data-filter='.small') small
      a.btn.btn-outline-primary.btn-sm(href='#!' data-filter='.medium') medium
      a.btn.btn-outline-primary.btn-sm.rounded-end-pill(href='#!' data-filter='.large') large

  .row.g-3.mt-3(data-sl-isotope!={
    layoutMode: 'packery',   
  })
    .col-6.col-md-4.isotope-item.small
      img(src=`${CWD}assets/img/gallery/07.jpg` alt='' data-zanim-xs!={
        animation: 'zoom-in',
        delay: 0
      }).img-fluid.rounded.w-100
    .col-6.col-md-8.isotope-item.large
      img(src=`${CWD}assets/img/gallery/11.jpg` alt='').img-fluid.rounded.w-100
    .col-6.col-md-4.isotope-item.medium
      img(src=`${CWD}assets/img/gallery/03.jpg` alt='').img-fluid.rounded.w-100
    .col-6.col-md-4.isotope-item.small
      img(src=`${CWD}assets/img/gallery/09.jpg` alt='').img-fluid.rounded.w-100
    .col-6.col-md-4.isotope-item.medium
      img(src=`${CWD}assets/img/gallery/06.jpg` alt='').img-fluid.rounded.w-100
    .col-6.col-md-8.isotope-item.large
      img(src=`${CWD}assets/img/gallery/12.jpg` alt='').img-fluid.rounded.w-100
    .col-6.col-md-4.isotope-item.small
      img(src=`${CWD}assets/img/gallery/08.jpg` alt='').img-fluid.rounded.w-100  